/*
  Generated via Harmonizer: https://harmonizer.evilmartians.com/#hZIxb8MgEIX_y3VFFdjGjtnaVJ2apclWdSAOxlYJpIAzNMp_rxw1MVgVYXyP-7h73AmOwrreaGAEgRJHoRywjxNovhfAgGAMCBqjveXOAyMYI2g6a_YcGH7EhJYZvSpLfgCmB6XO6AbIZoA6rs9rXGYUXw9JofIZqqoiVJUXeTWhshSqmKFKGqIIwXWIKlIoOkNREqGinu6gynRXWQjCOE-hqmRWJAr9TleL9A8u4gmTsdd3tqmMc_9nGz4RdIOIVvRd7AAB11IJYBkOnlsNznMbuAsauJvBfg-md2LySRGWP_0MNjAzGpqvQ9O5nk92nuOxOye877V0wE63QVdmJxQw4IdmLNj1VjS-N3rUgUErN-ZZwnXYP1UchQYEW7k0yti3XnYeGDy0bTupL9x-jSK-5LqVl1trz-24h2PQytj1gTcjz1m5hfP5Fw
*/
:root {
  --red-100: #fff0f0;
  --red-200: #ffdcda;
  --red-300: #febfbd;
  --red-400: #fda1a0;
  --red-500: #f27d7f;
  --red-600: #c76568;
  --red-700: #a15153;
  --red-800: #733839;
  --red-900: #492122;
  --mustard-100: #f8f3e8;
  --mustard-200: #f0e3c7;
  --mustard-300: #e5cc97;
  --mustard-400: #dbb562;
  --mustard-500: #ca9807;
  --mustard-600: #a67d03;
  --mustard-700: #866404;
  --mustard-800: #604600;
  --mustard-900: #3c2b01;
  --turquoise-100: #edf6ec;
  --turquoise-200: #d5ead1;
  --turquoise-300: #b3d9ab;
  --turquoise-400: #90c883;
  --turquoise-500: #68b158;
  --turquoise-600: #549247;
  --turquoise-700: #437538;
  --turquoise-800: #2e5326;
  --turquoise-900: #1a3315;
  --azure-100: #ecf4fe;
  --azure-200: #d0e6fd;
  --azure-300: #aad3fd;
  --azure-400: #81bffe;
  --azure-500: #52a5f5;
  --azure-600: #4287cb;
  --azure-700: #346ca4;
  --azure-800: #224c76;
  --azure-900: #132f4b;
  --fuchsia-100: #fbf1f9;
  --fuchsia-200: #f5ddf2;
  --fuchsia-300: #eec1e9;
  --fuchsia-400: #e7a4e0;
  --fuchsia-500: #d883d0;
  --fuchsia-600: #b26aac;
  --fuchsia-700: #8f558a;
  --fuchsia-800: #663b63;
  --fuchsia-900: #40233e;
}